@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap');
@import './base.css';

#app {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

@media (min-width: 900px) {
  #app {
    align-items: center;
  }
}
